:root {
  --pink-color: #F28067;
  --blue-color: #0084A8;
  --gold-color: #D9A74A;
  --gray-color: #DADADA;
}


@font-face {
  font-family: "Nunito";
  src: url("./Assets/Fonts/Nunito.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'Nunito Sans', sans-serif;
}



